---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "How It Works",
    id: "#how-it-works",
  },
  {
    title: "Solutions",
    id: "#solutions",
    children: [
      { title: "For ACOs & Value-Based Care", path: "#acos" },
      { title: "For Health Plans & Payers", path: "#plans" },
      { title: "For Healthcare Providers", path: "#providers" },
    ],
  },
  {
    title: "Why Choose Us",
    id: "#why-choose-us",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-2xl lg:text-3xl font-extrabold">
          <span class="text-[#232E42]">Prism</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.id}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="/request-a-demo" size="md" class="bg-[#6277D4]">Contact Us</Link>
      </div>
    </div>
  </header>
</Container>
