---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Integrate Data Seamlessly",
    description:
      "Plug into existing platforms or let us handle your data modeling.",
    icon: "bx:bxs-data",
  },
  {
    title: "Detect Cost Savings",
    description:
      "Identify areas of high spending and inefficiencies instantly.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Improve Patient Outcomes",
    description:
      "Surface actionable insights to enhance care quality.",
    icon: "bx:bxs-user",
  },
];
---
<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Smarter Analytics. Better Decisions. Bigger Impact.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Turn your claims data into a strategic advantage—uncover cost-saving and care-improving opportunities instantly.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 mb-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
